@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
    font-family: "Sora", serif;
}

.header-bg {
    background: linear-gradient(180deg, #FFF 0%, #EFEBE3 100%);
}


.products-bg {
    background: url('./c2-assets/vegetable-offer.png'), linear-gradient(to bottom right, #4fd837, #d6f5d6);
    background-repeat: no-repeat;
    background-position: bottom right;
}